---
import { clsx } from "clsx";

export interface Props {
  name: string;
  title: string;
  pronouns: string;
  photo: string;
  website?: string;
  linkedin?: string;
  bluesky?: string;
  mastodon?: string;
}

const { name, title, pronouns, photo, website, linkedin, bluesky, mastodon } =
  Astro.props;
---

<div class="relative pt-10 mt-10 lg:mt-0 fadeInUp">
  <img src="/images/scallop-top--lavender.svg" class="" alt="">
  <div
    class="bg-lavender relative bg-cover bg-no-repeat flex items-center gap-10 w-full px-5 py-4 lg:pl-14 lg:pr-20 z-20"
  >
    <img
      src={photo}
      class="lg:w-[238px] w-[91px] lg:static absolute top-[-30px] left-0 rounded-full"
      alt={name}
    />
    <div class="flex flex-col gap-5 justify-between py-2 w-full">
      <div class="flex flex-col lg:flex-row justify-between">
        <div class="lg:space-y-1">
          <h3 class="lg:text-3xl text-lg font-bold text-stone">
            {name}
          </h3>
          <h4 class="lg:text-3xl text-lg font-bold text-[#DEDEDE]">
            {title}
          </h4>
        </div>
        <span class="lg:text-3xl text-lg font-normal text-stone"
          >{pronouns}</span
        >
      </div>
      <div class="space-y-4">
        <span class="block w-[95%] text-stone text-sm! lg:text-base!"
          ><slot /></span
        >
        <div class="flex flex-col lg:flex-row justify-between">
          {
            website && (
              <a
                href={website}
                class="font-semibold text-base font-sans text-stone hover:text-violet transition-colors duration-300"
              >
                {website.replace(/^https?:\/\//, "").replace(/\/$/, "")}
              </a>
            )
          }
          <div class="flex gap-3 font-sans font-medium text-sm! lg:text-base!">
            {
              linkedin && (
                <a
                  href={linkedin}
                  class="underline text-stone hover:text-violet transition-colors duration-300"
                >
                  Linkedin
                </a>
              )
            }
            {
              bluesky && (
                <a
                  href={bluesky}
                  class="underline text-stone hover:text-violet transition-colors duration-300"
                >
                  Bluesky
                </a>
              )
            }
            {
              mastodon && (
                <a
                  href={mastodon}
                  class="underline text-stone hover:text-violet transition-colors duration-300"
                >
                  Mastodon
                </a>
              )
            }
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="/images/scallop-bottom--lavender.svg" class="" alt="">
</div>
