---
import { getCollection } from "astro:content";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Base from "../layouts/Base.astro";
import DetailArrow from "../components/DetailArrow.astro";
import LongDate from "../components/typography/LongDate.astro";
import HeaderStar from "../components/header/HeaderStar.astro";
import HeaderBreadcrumbs from "../components/header/HeaderBreadcrumbs.astro";

// TODO: Edit schemaData

const schemaData = {
  "@context": "https://schema.org",
  "@type": "Event",
  additionalType: "ExhibitionEvent",
  url: "https://2026.pycon.org.au/",
  name: "PyCon AU 2026",
  description:
    "PyCon AU is Australia's national conference for everyone using the Python programming language and is a must-attend event for hundreds of technologists worldwide.",
  startDate: "2026-08-26",
  endDate: "2026-08-30",
  about: {
    "@type": "ComputerLanguage",
    name: "Python",
    url: "https://www.python.org/",
  },
  location: {
    "@type": "Place",
    name: "Sofitel Brisbane Central",
    url: "https://www.sofitelbrisbane.com.au/",
    address: {
      "@type": "PostalAddress",
      streetAddress: "249 Turbot Street",
      addressLocality: "Brisbane City",
      postalCode: "4000",
      addressRegion: "QLD",
      addressCountry: "AU",
    },
  },
  eventAttendanceMode: "https://schema.org/MixedEventAttendanceMode",
  inLanguage: "en-AU",
  offers: [
    {
      "@type": "Offer",
      availability: "https://schema.org/InStock",
      url: "https://pretix.eu/pyconau/2026/",
    },
  ],
  superEvent: {
    "@type": "EventSeries",
    name: "PyCon AU",
    url: "https://pycon.org.au/",
    organizer: {
      "@id": "#organization",
    },
    sameAs: "https://www.wikidata.org/wiki/Q134350078",
  },
  organizer: {
    "@id": "#organization",
    "@type": "Organization",
    name: "PyCon AU",
    url: "https://pycon.org.au/",
    sameAs: [
      "https://mastodon.pycon.org.au/@pyconau",
      "https://bsky.app/profile/pyconau.bsky.social",
      "https://www.linkedin.com/company/pyconau/",
    ],
  },
  sameAs: ["https://www.wikidata.org/wiki/Q136290798"],
};

// TODO: Page shows category as is (e.g. DIRECTORS-DESK), should map to strings
// TODO: Color-ise the category
const [firstPost, ...morePosts] = (await getCollection("posts")).sort(
  (a, b) => b.data.published.valueOf() - a.data.published.valueOf()
);
---

<Base title="PyCon AU 2026" schemaData={schemaData}>
  <Header dark={false} />

  <section class="bg-stone pt-[98px] pb-20 overflow-hidden">
    <div class="container relative">
      <HeaderStar colour="lavender" />
      <div class="w-[85%] mx-auto">
        <HeaderBreadcrumbs colour="charcoal" />
        <div class="flex justify-between items-center relative pt-10 fadeInUp">
          <div class="space-y-20 relative">
            <div
              class="font-serif lg:text-8xl text-[3.625rem] -tracking-[0.022em] leading-none"
            >
              <h1 class="text-charcoal">News & Updates</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="bg-stone pt-10 pb-20">
      <div class="container">
        <div class="lg:w-[85%] w-full mx-auto">
          <div class="space-y-5">
            <a
              href={`/posts/${firstPost.slug}`}
              class="fadeInUp bg-white hover:bg-lemon rounded-[3.125rem] p-10 flex flex-col justify-between gap-20 row-span-2 group"
            >
              <div
                class="flex lg:flex-nowrap flex-wrap lg:gap-0 gap-2 items-center justify-between"
              >
                <div class="tag group-hover:border-charcoal! fadeInUp">
                  {firstPost.data.category}
                </div>
                <div class="date">
                  <LongDate date={firstPost.data.published} />
                </div>
              </div>
              <div
                class="flex lg:flex-row flex-col gap-10 items-end justify-between"
              >
                <div class="lg:w-[90%] w-full flex lg:flex-row flex-col gap-10">
                  <h3
                    class="text-3xl font-sans font-medium leading-[1.1] lg:w-[45%] w-full"
                  >
                    {firstPost.data.title}
                  </h3>
                  <p class="lg:w-[50%] w-full">
                    {firstPost.data.previewText}
                  </p>
                </div>
                <DetailArrow />
              </div>
            </a>
            {
              morePosts.map((post) => (
                <>
                  <a
                    href={`/posts/${post.slug}`}
                    class="fadeInUp bg-white hover:bg-lemon rounded-[3.125rem] p-10 flex lg:flex-row flex-col justify-between gap-10 row-span-2 group"
                  >
                    <div class="flex lg:flex-col lg:flex-nowrap flex-wrap lg:gap-4 gap-2 items-start justify-between lg:w-[20%]">
                      <div class="tag group-hover:border-charcoal! fadeInUp">
                        {post.data.category}
                      </div>
                      <div class="date">
                        <LongDate date={post.data.published} />
                      </div>
                    </div>
                    <div class="flex lg:flex-row flex-col gap-10 items-end justify-between lg:w-[80%]">
                      <h3 class="text-3xl font-sans font-medium leading-[1.1] lg:w-[90%] w-full">
                        {post.data.title}
                      </h3>
                      <DetailArrow />
                    </div>
                  </a>
                </>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </section>

  <Footer />

  <!-- Main scripts (will be added in Phase 5) -->
  <script src="/src/scripts/animations.js"></script>
</Base>
